<div class="d-flex align-items-center justify-content-center flex-column">
  <div
    class="border border-dark rounded d-flex justify-content-center align-items-center flex-column w-25 p-5"
  >
    <input
      type="number"
      placeholder="Input fruit ID"
      [(ngModel)]="fruitID"
      [readonly]="isEditing"
    />
    <br /><br />
    <input
      type="text"
      placeholder="Input fruit name"
      [(ngModel)]="fruitName"
    /><br /><br />
    <input
      type="text"
      placeholder="Input fruit type"
      [(ngModel)]="fruitType"
    /><br /><br />
    <button (click)="addFruit()" class="btn btn-outline-dark">
      {{ isEditing ? "Update" : "Add" }} Fruit
    </button>
  </div>

  <div class="border border-dark w-50 mt-3">
    <h2>Fruit List</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Type</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let fruit of getFruits()">
        <tr>
          <td>{{ fruit.fruitID }}</td>
          <td>{{ fruit.name }}</td>
          <td>{{ fruit.type }}</td>
          <td>
            <button
              (click)="editFruit(fruit)"
              class="btn btn-outline-info"
            >
              Edit
            </button>
            <button
              (click)="deleteFruit(fruit.fruitID)"
              class="btn btn-outline-danger"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
