
<div class="px-5 py-2">
  <ol class="d-flex gap-5 p-4 flex-wrap">
    <li><a routerLink="studentlist"  class="btn btn-outline-dark">Student List</a></li>
    <li><a routerLink="employeelist" class="btn btn-outline-dark">Employee List</a></li>
    <!-- <li><a routerLink="fruitlist" class="btn btn-outline-dark">Fruit List</a></li>
    <li><a routerLink="courselist" class="btn btn-outline-dark">Course List</a></li>
    <li><a routerLink="booklist" class="btn btn-outline-dark">Book List</a></li>
    <li><a routerLink="citylist" class="btn btn-outline-dark">City List</a></li>
    <li><a routerLink="movielist" class="btn btn-outline-dark">Movie List</a></li>
    <li><a routerLink="carmodel" class="btn btn-outline-dark">Car Model List</a></li>
    <li><a routerLink="productlist" class="btn btn-outline-dark">Product List</a></li>
    <li><a routerLink="subjectlist" class="btn btn-outline-dark">Subject List</a></li>
    <li><a routerLink="countrylist" class="btn btn-outline-dark">Country List</a></li>
    <li><a routerLink="sportslist" class="btn btn-outline-dark">Sports List</a></li>
    <li><a routerLink="vegetablelist" class="btn btn-outline-dark">Vegetables List</a></li>
    <li><a routerLink="animallist" class="btn btn-outline-dark">Animal List</a></li>
    <li><a routerLink="toollist" class="btn btn-outline-dark">Tool List</a></li>
    <li><a routerLink="languagelist" class="btn btn-outline-dark">Language List</a></li>
    <li><a routerLink="gamelist" class="btn btn-outline-dark">Game List</a></li>
 -->
  </ol>
</div>



<hr>



<router-outlet></router-outlet>