<div class="d-flex align-items-center justify-content-center flex-column">
  <div
    class="border border-primary d-flex justify-content-center align-items-center flex-column w-25 p-5"
  >
    <input
      type="number"
      placeholder="Input employee ID"
      [(ngModel)]="empID"
      [readonly]="isEditing"
    />
    <br /><br />
    <input
      type="text"
      placeholder="Input employee name"
      [(ngModel)]="empName"
    /><br /><br />
    <input
      type="text"
      placeholder="Input employee department"
      [(ngModel)]="empDept"
    /><br /><br />
    <button (click)="addEmployee()" class="btn btn-outline-dark">
      {{ isEditing ? "Update" : "Add" }} Employee
    </button>
  </div>

  <div class="border border-dark w-50 mt-3">
    <h2>Employee List</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>NAME</th>
          <th>DEPARTMENT</th>
          <th>ACTIONS</th>
        </tr>
      </thead>
      <tbody *ngFor="let employee of getEmployees()">
        <tr>
          <td>{{ employee.empID }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.department }}</td>
          <td>
            <button
              (click)="editEmployee(employee)"
              class="btn btn-outline-info"
            >
              Edit
            </button>
            <button
              (click)="deleteEmployee(employee.empID)"
              class="btn btn-outline-danger"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
